@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


$poppins: "Poppins", sans-serif;
$lato: "Lato", sans-serif;

$light: #f9f9f9;
$blue: #3c91e6;
$light-blue: #cfe8ff;
$grey: #eee;
$dark-grey: #aaaaaa;
$dark: #342e37;
$red: #db504a;
$yellow: #ffce26;
$light-yellow: #fff2c6;
$orange: #ff8000;
$light-orange: #ffe0d3;

/* ===== Colors ===== */
$primary-color: #1f8f8a;
$panel-color: rgb(245, 244, 244);
$text-color: #000;
$black-light-color: #707070;
$border-color: #e6e5e5;
$toggle-color: #ddd;
$box1-color: #4da3ff;
$box2-color: #ffe6ac;
$box3-color: #2bd5ca;
$title-icon-color: #fff;
$font-blue:  #00bab3;
$line-orange: #ff8f00;

/* ====== Transition ====== */
$tran-05: all 0.5s ease;
$tran-03: all 0.3s ease;
$tran-03: all 0.2s ease;